@amber: #FFAA12;
@red: #FF2C12;



.ui-widget-header {
	background: repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
);
}

.ui-widget-content {
	background: repeating-linear-gradient(
	  -55deg,
	  #666,
	  #777 10px,
	  #444 10px,
	  #555 20px
);
}

.alert-guide {
	margin-top:20px;
}

tr.time-slot-row {
	display:none;
}

table, tr {
	width:100%;
}

table {
	table-layout:fixed;
	display:none;
}

th, td {
	border:1px solid white;
	color:white;
	text-align:center;
}

.full-cell td {
	height:35px;
}

.half-cell td {
	height:25px;
}

.half-cell tr:nth-child(4n+1), .half-cell tr:nth-child(4n+2) {
	background-color:#eee;
}

.half-cell tr:nth-child(4n+3), .half-cell tr:nth-child(4n+4) {
	background-color:#aaa;
}

.full-cell tr:nth-child(2n) {
	background-color:#eee;
}

.full-cell tr:nth-child(2n+1) {
	background-color:#aaa;
}

.half-cell tr:nth-child(2n+1) td, .full-cell tr td {
	font-size:18px;
}

table tr.days-of-week, td.time-slot {
	background-color:black !important;
	cursor:default;
}

td.c-amber {
	background-color:@amber;
}

td.c-red {
	background-color:@red;
}

.glyphicon-container-red span {
	color:@red;
	font-size:15px;
}

.glyphicon-container-amber span {
	color:@amber;
	font-size:15px;
}

table {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar-brand {
	font-family: 'Cookie', cursive;
	font-size:34pt;
	padding-top:20px;
}

.meeting-name {
	display:inline-block;
}

.navbar {
	margin-bottom:0px;
}

.range-left {
	width:50px;
	display:table-cell;
	height:20px;
	vertical-align:middle;
	font-size:20px;
	padding:0 10px;
}

.range-right {
	width:50px;
	display:table-cell;
	height:20px;
	height:20px;
	vertical-align:middle;
	font-size:20px;
	padding:0 10px;
}

.slider-container {
	width:100%;
	display:table-cell;
	vertical-align:middle;
}

.slider-row {
	display:table;
	width:100%;
	padding:5px;
}

#slider-range {
	width:100%;
}
